.video-player{
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.volume{
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #555;
    /* Track color */
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: height 0.2s ease;
}

.volume::-webkit-slider-runnable-track {
    height: 4px;
    background: #999;
    border-radius: 2px;
}

/* WebKit filled (before the thumb) */
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 14px;
    width: 14px;
    background: white;
    border: 2px solid red;
    border-radius: 50%;
    margin-top: -5px;
    /* So the thumb is centered */
    cursor: pointer;
    transition: background 0.3s;
}

video {
    width: 100%;
}

