
body {
    margin: 0;
    width: 100vw;
    
    background: var(--bg-color);
    color: var(--text-color);
    
    font-family: karla;
    font-weight: 300;
    font-size: 0.875rem;
}


header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 1%;
    height: 70px;
    text-align: center;
    color: white;
    
    background-color: var(--highlight-low-color-transparent);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(10px);

    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

header img {
    height: 40px;
}

header h1 {
    margin-left: 4%;
}


.container {
    margin: 25px;
    padding: 1%;
}

#background{
    display: none;
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#login {
    position: relative;
    right: 0;
    
    margin-right: 4%;
    display: flex;
    align-items: center;
}

#login img {
    cursor: pointer;
}

#login button {
    margin-left: 5px;
    color: white;
    border-color: transparent;
    background-color: transparent;
    
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


#login_window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 1000;
    padding: 7%;
    
    background-color: var(--bg-color);
    border: 4px solid var(--text-color);
    border-radius: 10px;
}

#profile_window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 1000;
    padding: 7%;
    
    background-color: var(--bg-color);
    border: 5px solid var(--highlight-low-color);
    border-radius: 10px;
}

#login_window h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 7%;
}

.register {
    position: position;
    left: 0;
    bottom: 0;
    
    margin: 7%;
    padding: 13px;
}

.register h1{
    position: absolute;
    top:0;
    background-color: rebeccapurple;
    
    margin: 0;
    padding: 13px;
}


#main {
    margin-top: 110px;
    padding-top: 3%;

    height: 50vh;
    border-radius: 25px;
    
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
        url('../res/ui/popeye.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main h1 {
    font-size: 40px;
    margin-left: 4%;
}


#place_holder {
    width: 1px;
    height: 40vh;
}


form {
    width: 60%;
    height: 55%;
    min-height: 150px;

    margin: auto;
    padding: 50px;
    
    font-size: 16px;
    background: var(--overlay-color);
    border-radius: 8px;
}

form input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px;
    
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
    transition: border-color 0.3s;
}


.scroll-box {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
    width: 100%;
}




.series-container {
    margin-top: 20px;
    padding: 20px;

    border-radius: 10px;
    background-color: var(--highlight-low-color);
}

.series-container h1 {
    margin: 20px;
}


#serie-button {
    margin: 20px;
    position: relative;
    
    width: 373px;
    height: 210px;
    flex-shrink: 0;

    border: 0;
    border-radius: 10px;
    
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: ease-in 0.1s;
}

#serie-button h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    color: var(--text-color);
    text-shadow: 5px 5px 20px black ;
}

#serie-button:hover {
    margin: 0;
    
    width: 420px;
    height: 230px;
    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    
    transition: ease-in 0.1s;
}

/* === HOME BUTTON === */
.home_button {
    cursor: pointer;
}
