body {
    margin: 0;
    width: 100vw;

    background: var(--bg-color);
    color: var(--text-color);

    font-family: karla;
    font-weight: 300;
    font-size: .875rem;

    /* centering
    justify-content: center;
    align-items: center;
    */
}

header {
    position: fixed; /* cambia questo */
    top: 20px; /* attaccato in alto */
    left: 20px; /* partenza a sinistra */
    right: 20px; /* esteso a destra */
    z-index: 100; /* sta sopra agli altri */


    padding: 1%; /* Spazio interno: dentro al box */
    text-align: center;
    height: 70px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--highlight-low-color-transparent);
    backdrop-filter: blur(7px); /* applica il blur */
    -webkit-backdrop-filter: blur(10px);

    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#screen{
    margin: 25px; /* Spazio esterno: stacca il bordo */
    padding: 1%; /* Spazio interno: dentro al box */
}

#login {
    margin-right: 4%;
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
}  

#main {
    margin-top: 110px;
    padding-top: 3%;
    border-radius: 25px;
    align-items: center;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),  /* gradiente sopra */
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), /* gradiente sotto */
        url('/res/ui/popeye.jpg'); /* immagine di sfondo */
    background-size: cover; /* fa sì che l'immagine copra l'intero elemento */
    background-position: center; /* centra l'immagine */
    background-repeat: no-repeat; /* impedisce la ripetizione dell'immagine */
    height: 50vh;
}

#login_window {
    display: none;
    position: fixed;
    margin-top: 50px;
    z-index: 1000;
    background-color: var(--highlight-low-color-transparent);
    backdrop-filter: blur(3px); /* applica il blur */
    -webkit-backdrop-filter: blur(10px);
    padding: 25px;
    width: 50%;
    height: 50%;
    max-width: 600px; 
    max-height: 400px;
    border-radius: 25px; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}


#login button{
    margin-left: 5px;
    color: white;
    border-color: transparent;
    background-color: transparent; /* Rende lo sfondo trasparente */
    cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
    transition: background-color 0.3s ease, color 0.3s ease; /* Effetto di transizione per il cambio colore */
}

#place_holder{
    width: 100;
    height: 200vh;
}


#main h1{
    font-size: 40px;
    margin-left: 4%;
}

#form {
    padding: 20px;
    background-color: black;
}

.scroll-box{
    overflow-x: scroll;
    width: 100%;
    height: 250px;
    display: flex;
}

#series-container{
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--highlight-low-color);
}

#series-container h1{
    margin: 20px;
}


#serie-button{
    transition: ease-in 0.1s;
    border: 0px;
    border-radius: 10px;
    margin:20px;
    height:210px;
    width: 373px;
    background-color: black;
    flex-shrink: 0;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#serie-button:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    margin:0;
    transition: ease-in 0.1s;
    height:230px;
    width: 420px;
}

header img{
   height: 40px;
}

header h1{
    margin-left: 4%;
}

/* CIAO */

.container {
    height: 100%;
    width: 98%;
    margin-top: 2vh;
    /*Adjust whith header*/
    margin-left: 1%;
    margin-right: 1%;
}

.top-div {
    display: flex;
}

.video-div {
    width: 73vw;
}

video {
    width: 100%;
    height: 80vh;

    background-color: black;
    border-radius: 7px;
}

.epList-div {
    width: 25vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin: auto;
    border-radius: 8px;
    overflow:scroll;
}

epList-div li {
    background-color: #1e1e1e;
    padding: 12px 15px;
    border-bottom: 1px solid #333333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom-div {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

.detailes-div {
    flex-grow: 1;
    display: flex;
    width: 75vw;
}

.coverImg {
    height: 40vh;
    border-radius: 10px;
    margin-right: 10px;
}

.info-div {
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    /*for anchoring child elements*/
}

.info-div h1 {
    margin: 2px;
    font-size: 40px;
}

.tag-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px !important;
    display: flex;
    gap: 10px;
}

.tag-list li {
    border: 1.5px solid var(--main-color);
    border-radius: 7px;
    padding: 8px 15px;
    text-align: center;
    white-space: nowrap;
}

.tag-list li:hover {
    background-color: var(--highlight-low-color);
    cursor: pointer;
}

.description {
    border-radius: 7px;
    background-color: var(--highlight-low-color);
    padding: 8px 15px;
}

.dati-div {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.data1,
.data2 {
    width: 50%
}

.dati-div h5 {
    margin: 0;
    font-weight: normal;
}

.dati-div p {
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}

.seasonList-div {
    width: 25vw;
}